{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm p-4 mb-4">
        <h1>Login</h1>
        {% if form.errors %}
            <div class="alert alert-danger">
                Your username and password didn't match. Please try again.
            </div>
        {% endif %}
        <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <!--to redirect to account after login-->
        <input type="hidden" name="next" value="/accounts/profile/" />
        <button type="submit" class="btn normal-button">Login</button>
        </form>
        <p class="mt-3">Don't have an account? <a href="{% url 'signup' %}">Sign up here</a>.</p>
    </div>
</div>
{% endblock %}