/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Macondo&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/*CSS Variables*/
:root {
--background-color: #F8F9FA;
--main-text-color: #333333;
--primary-color: #00BCD4;
--secondary-color: #1C3B53;
--light-text-color: #FFFFFF;
--error-color: #DC3545;
}

/*Global Styles*/
body {
    font-family:'jost', sans-serif;
    background-color: var(--background-color);
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrapper {
    flex-grow: 1;
}

/*Navbar Styles*/
.header {
    background-color: var(--secondary-color);
    border-bottom: 3px solid var(--primary-color);
}

.header-text {
    color: var(--light-text-color);
    font-weight: semi-bold;
}

.display-inline {
    display: inline;
}   

.nav-link-btn {
    display: inline-block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    color: var(--light-text-color);
    border: 1px solid var(--light-text-color);
    border-radius: .15rem;
    background-color: transparent; 
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-link-btn:hover,
.nav-link-btn:focus {
    color: var(--secondary-color);
    background-color: var(--light-text-color); 
    border-color: var(--light-text-color);
}
/* Search Button Styles */

.search-btn-white {
    display: inline-block;
    padding: .25rem .5rem; 
    font-size: .875rem; 
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    color: var(--light-text-color);
    border: 1px solid var(--light-text-color);
    background-color: transparent;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.search-btn-white:hover,
.search-btn-white:focus {
    color: var(--secondary-color);
    background-color: var(--light-text-color);
    border-color: var(--light-text-color);
}


/* Custom Footer Styles */
.footer {
    background-color: var(--secondary-color);
    border-top: 3px solid var(--primary-color);
}

.footer-text {
    /* Example: Make the footer text light gray */
    color: var(--light-text-color);
    font-size: 0.85rem;
}


.big-heading{
    font-size: 3rem;
    text-align: center;
    color: var(--secondary-color);
}

.medium-heading{
    font-size: 2rem;
    color: var(--secondary-color);

}

.profile-card-short{
    text-align: left;

}

.profile-card{
    text-align: left;

}

.profile-picture{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#follow-request-card{
    text-align: left;
    background-color: var(--background-color);
    color: var(--secondary-color);

}

/* Fix for moile line styling */
.vr {
    background-color: var(--light-text-color);
    opacity: 1; 
}