/*Global Styles*/
body


.big-heading{
    size: 3rem;
    text-align: center;
}

.medium-heading{
    size: 2rem;

}

.profile-card-short{
    text-align: left;

}

.profile-card{
    text-align: left;

}

