{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="my-4">
  <h1 class="display-4, big-heading">Welcome to StrideAI</h1>
  <p class="lead">Get fit together.</p>
  <p>Use powerful AI to generate bespoke training plans that really work for you, no matter what your limitations are.</p>
</div>

<!--Featured Profiles-->
<h2 class="medium-heading mb-4 text-center">Some of Our Users</h2>
<div class="row g-4 mb-5">
  {% for profile in profiles|slice:":9" %}
    <div class="col-md-4 col-sm-6">
      <div class="card profile-card-short h-100 text-center">
        <img src="{{ profile.get_profile_picture_url }}" class="card-img-top mx-auto mt-3 profile-picture" alt="{{ profile.display_name }}">
          <div class="card-body">
          <h3 class="card-title mb-1">
            <a href="{% url 'profile_detail' profile.user.username %}" class="card-text">
              {{ profile.display_name|default:profile.user.username }}
            </a>
          </h3>
          <p class="card-text text-muted small">{{ profile.bio }}</p>
        </div>
      </div>
    </div>
  {% empty %}
    <p class="text-muted text-center">No user profiles found.</p>
  {% endfor %}
</div>

{% endblock %}
